<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2>Cadastrar-se</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb1"><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "radius" %></div>

    <div class="mb1"><%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "radius" %></div>

    <div class="mb1"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar senha", class: "radius" %></div>

    <div><%= f.submit "Criar conta", class: "button" %></div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
